.activities__wrapper {
	@media (--xs) {
		display: grid !important;
		grid-template-areas:
			'block1 block1'
			'block2 block2'
			'block3 block4';
		gap: 1em;
	}
	@media (--s) {
		grid-template-areas:
			'block1 block1 block2 block2'
			'block1 block1 block3 block4';
	}

	@media (--m) {
		gap: 50px;
	}
}

.activities__item {
	cursor: pointer;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		right: 3px;
		top: 3px;
		background-image: url(data:image/svg+xml,%3Csvg width=%2732%27 height=%2733%27 viewBox=%270 0 32 33%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M28.1623 31.8129L0.698394 4.34903C-0.561536 3.0891 0.330795 0.934814 2.1126 0.934814H29.5765C30.6811 0.934814 31.5765 1.83024 31.5765 2.93481V30.3987C31.5765 32.1805 29.4222 33.0729 28.1623 31.8129Z%27 fill=%27%234EA773%27/%3E%3C/svg%3E%0A);
		background-repeat: no-repeat;
		z-index: 2;
		background-size: contain;
	}

	&::after {
		content: '';
		width: 60px;
		height: 60px;
		display: block;
		position: absolute;
		right: -32px;
		top: -32px;
		background-color: var(--header);
		z-index: 1;
		transform: rotate(45deg);
	}

	@media (--xs) {
		&:nth-of-type(1) {
			grid-area: block1;
		}
		&:nth-of-type(2) {
			grid-area: block2;
			& picture {
				@mixin ratio 0.625;
			}
		}
		&:nth-of-type(3) {
			grid-area: block3;
		}
		&:nth-of-type(4) {
			grid-area: block4;
		}
	}

	& picture,
	& img {
		display: block;
		width: 100%;
	}

	& picture {
		@mixin ratio 1.31;
	}

	& img {
		object-fit: cover;
	}

	& .title {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-color: rgba(253, 192, 32, 0.7);
		width: 100%;
		padding: 1em;

		& span {
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			color: var(--black);
			overflow: hidden;
		}
	}
}
