.section-contact-page {
	& .contact-page__wrapper {
		height: 750px;
		display: flex;
	}

	& .contact-left {
		width: 40%;
		display: block;

		& picture {
			display: block;
			width: 100%;
			height: 100%;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	& .contact-header {
		margin-bottom: 160px;
	}

	& .contact-header h2 {
		font-family: 'Tourney';
		font-style: normal;
		font-weight: 900;
		font-size: 95px;
		line-height: 105px;
		text-transform: uppercase;
		color: #ff6200;
	}

	& .contact-header .contact-description {
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
	}

	& .contact-right {
		width: 60%;
		background-color: rgba(252, 189, 26, 0.9);

		& .contact-right__wrapper {
			padding: 60px;
		}

		& .contact-content {
			display: flex;

			& .contact-content__right,
			& .contact-content__left {
				width: 50%;
			}
		}

		& input {
			background: unset !important;
			border: unset !important;
			color: white !important;
			border-bottom: 1px solid white !important;
			padding: 10px 25px !important;
		}

		& input:focus-visible {
			outline: unset;
			background: unset !important;
			border: unset !important;
			color: white !important;
			border-bottom: 1px solid white !important;
		}

		& input::placeholder {
			/* Chrome, Firefox, Opera, Safari 10.1+ */
			color: white;
		}

		& .gform_footer.top_label {
			justify-content: end;

			.gform_heading {
				margin-bottom: 40px;
				font-weight: 500;
				font-size: 28px;
				line-height: 41px;
			}

			& input[type='submit'] {
				position: relative;
				font-weight: 700;
				font-size: 16px;
				line-height: 23px;
				text-transform: uppercase;
				transition: all 0.5s;
			}

			& input[type='submit']:hover {
				background: var(--primary) !important;
				color: var(--black) !important;
			}
		}
	}

	& .contact-logo {
		margin-bottom: 60px;
	}
}
