.contact-form__container {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	justify-content: space-between;
	width: min(100% - 70px, 1240px);
	margin: 3.75em auto;
    align-items: center;
    gap: 20px;

	@media (--m) {
		flex-direction: row;
        gap: unset;
	}

	& .contact-form__heading {
		font-size: 3.75em;
		font-weight: bold;
		color: var(--white);
		text-align: center;
	}
}

.contact-form__left {
    display: flex;
    justify-content: center;
}

.contact-form__left,
.contact-form__right {
	width: 100%;


	@media (--m) {
		width: 50%;
	}
}
