.section-home-contact {
	& .section__header {
		padding-bottom: 30px;
		background-image: url('/vendor-assets/images/green-bg.png');
		background-repeat: no-repeat;
		background-position: 0 calc(100% - 40px);

		& .section__inner {
			background-image: url('/vendor-assets/images/dot-orange.png');
			background-repeat: no-repeat;
			background-position: 100% calc(100% - 10px);
		}
	}

	& .section__container {
		width: min(100% - 30px, 1200px);
		margin: 0 auto;
	}

	.home-contact__wrapper {
		max-width: 92%;
		margin: 0 auto;
		background: rgba(67, 69, 86, 0.69);
	}

	& .gform_heading {
		display: none;
	}

	& form {
		max-width: 800px;
		margin: 0 auto;
		padding: 40px 20px;
	}

	& input {
		background: unset !important;
		border: unset !important;
		color: white !important;
		border-bottom: 1px solid white !important;
		padding: 10px 25px !important;
	}

	& input:focus-visible {
		outline: unset;
		background: unset !important;
		border: unset !important;
		color: white !important;
		border-bottom: 1px solid white !important;
	}

	& input::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: white;
	}

	& .gform_footer.top_label {
		justify-content: center;

		& input[type='submit'] {
			border: 1px solid #fdc020 !important;
			position: relative;
			font-weight: 700;
			font-size: 16px;
			line-height: 23px;
			text-transform: uppercase;
			transition: all 0.3s ease-out;
			background: linear-gradient(
				111deg,
				var(--primary) 50%,
				rgba(252, 189, 26, 0.4) 50%
			) !important;
			background-size: 215% 100% !important;
			background-position: right bottom !important;
			border-radius: 2px;
		}

		& input[type='submit']:hover {
			color: black !important;
			background-position: left bottom !important;
		}
	}
}

.form_confirmation_message {
	padding: 70px 40px;
	color: white;
	text-align: center;
}
