body > .site-footer {
	background-color: var(--header);
	text-align: center;

	& .inside-footer-widgets {
		margin-left: 0 !important;
	}

	& .footer-widget-1 {
		& > * {
			padding-left: 0 !important;
		}

		& .inner-padding.widget_nav_menu ul {
			display: flex;
			aling-items: center;
			justify-content: center;
			flex-wrap: wrap;

			@media (--s) {
				flex-wrap: nowrap;
			}

			& li {
				margin: 1em 0 0 !important;
				width: 50%;

				@media (--s) {
					width: auto;
					margin: 1em 0 !important;
				}

				&.current_page_item {
					& a {
						color: var(--primary);
					}
				}

				& a {
					text-transform: uppercase;
					padding: 0 1em;
					display: inline-block;
					text-decoration: none;
					color: var(--white);
				}
			}
		}
	}

	& > footer {
		display: none;
	}
}
