body > .site-footer {
	background-color: var(--header);
	text-align: center;

	& .inside-footer-widgets {
		margin-left: 0 !important;
	}

	& .footer-widget-1 {
		& > * {
			padding-left: 0 !important;
		}

		& .inner-padding.widget_nav_menu ul {
			display: flex;
			aling-items: center;
			justify-content: center;
			flex-wrap: wrap;

			@media (--s) {
				flex-wrap: nowrap;
			}

			& li {
				margin: 1em 0 0 !important;
				width: 50%;

				@media (--s) {
					width: auto;
					margin: 1em 0 !important;
				}

				&.current_page_item {
					& a {
						color: var(--primary);
					}
				}

				& a {
					text-transform: uppercase;
					padding: 0 1em;
					display: inline-block;
					text-decoration: none;
					color: var(--white);
				}
			}
		}
	}
}

footer {
	& a {
		display: flex !important;
	}

	& .inside-site-info {
		@media (--max-tablet) {
			padding: 30px;
		}

		@media (--m) {
			height: 100px;
		}
	}

	& .footer-bar {
		width: 100%;
		margin-bottom: 0 !important;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
		padding: 1em 0;

		@media (--m) {
			display: grid;
			grid-template-areas:
				'item1 item2 item3'
				'item1 item2 item4';
			column-gap: 2em;
			row-gap: 0.5em;
			grid-template-columns: minmax(0px, max-content) minmax(200px, 1fr) minmax(
					0px,
					max-content
				);
		}

		& > * {
			@media (--m) {
				display: none;

				&:nth-of-type(1),
				&:nth-of-type(2),
				&:nth-of-type(3),
				&:nth-of-type(4) {
					display: block;
				}

				&:nth-of-type(1),
				&:nth-of-type(2) {
					display: flex;
					align-items: center;
				}

				&:nth-of-type(1) {
					grid-area: item1;
				}
				&:nth-of-type(2) {
					grid-area: item2;
				}
				&:nth-of-type(3) {
					grid-area: item3;

					& a {
						font-size: 16px;
					}
				}
				&:nth-of-type(4) {
					grid-area: item4;
				}
			}

			&:nth-of-type(4) {
				& a {
					cursor: pointer;
					font-size: 11px;
					font-weight: lighter;
					font-family: var(--font-family-regular);
				}
			}
		}

		@media (--max-tablet) {
			/* flex-direction: column; */
		}

		& .widget_nav_menu > div > ul {
			justify-content: end;
		}
	}
}
