.slideout-menu,
.main-navigation,
.footer-bar {
	& li.menu-item {
		margin: 0;

		&:hover {
			& > a {
				color: var(--primary) !important;
			}
		}

		&:last-child {
			&.current-menu-item a {
				color: var(--white);
			}
		}

		&.current-menu-item a {
			color: var(--primary) !important;
		}

		& a {
			text-transform: uppercase;
			color: var(--white) !important;
			transition: 0.3s;
			line-height: 70px;
		}
	}
}

.site-header {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 5px;
		background-color: #0d261e;
	}
}

.inside-header {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 120px;
		height: 5px;
		background-color: #25906d;
		z-index: 2;
	}
}

header {
	background-color: var(--header) !important;

	& .menu-item-has-children > a {
		padding-right: 20px !important;
	}

	& .sub-menu {
		background-color: var(--contrast-2) !important;
		border-top: 3px solid var(--primary);
		margin-top: -0.25em;
		width: 100% !important;
		padding: 0.5em 0;
		transition: 0.3s;

		& li {
			transition: 0.3s;
			&:hover {
				transform: translateX(0.25em);
			}
		}

		& a {
			text-transform: unset !important;
		}
	}

	& .site-logo {
		width: 150px;

		@media (--s) {
			width: auto;
		}
	}

	& .has-sticky-branding {
		background-color: var(--header);

		& .is-logo-image {
			max-width: 200px;
			height: auto !important;
		}

		& .main-navigation a {
			font-size: 90%;
			transition: 0.1s;
		}

		& button.menu-toggle,
		& button.menu-toggle:hover,
		& button.menu-toggle:focus {
			color: var(--white);
		}
	}
}

.mobile-menu-control-wrapper {
	margin-right: -15px;

	& .icon-menu-bars svg {
		fill: var(--white);
	}
}
