header {
	background-color: var(--header) !important;

	& .main-navigation li.menu-item {
		&:hover {
			& > a {
				color: var(--primary) !important;
			}
		}

		&.current-menu-item a {
			color: var(--primary);
		}

		& a {
			text-transform: uppercase;
			color: var(--white);
			transition: 0.3s;
			line-height: 70px;
		}
	}

	& .sub-menu {
		background-color: var(--contrast-2) !important;
		border-top: 3px solid var(--primary);
		margin-top: -0.5em;
		width: 100% !important;
		padding: 0.5em 0;
		transition: 0.3s;

		& li {
			transition: 0.3s;
			&:hover {
				transform: translateX(0.25em);
			}
		}

		& a {
			text-transform: unset !important;
		}
	}

	& .site-logo {
		width: 150px;

		@media (--s) {
			width: auto;
		}
	}
}

.mobile-menu-control-wrapper {
	margin-right: -15px;

	& .icon-menu-bars svg {
		fill: var(--white);
	}
}

#menu-main-menu {
	& > li:last-child {
		transition: 0.3s;

		&:hover {
			transform: scale(1.05);
		}

		& a {
			color: var(--header) !important;
			position: relative;

			&::before {
				content: '';
				width: 100%;
				height: 40px;
				top: calc(50% - 20px);
				border-radius: 3px;
				position: absolute;
				background-color: var(--primary);
				z-index: -1;
				left: 0;
			}
		}
	}
}
