.hero-banner {
	background: #1f222d;
	width: 100%;

	& > .wp-block-group__inner-container {
		padding: 0;
	}
}

.hero-banner__cover {
	@mixin ratio 7/16;
}

.hero-banner__wrapper {
	position: relative;
	width: 100%;
	margin-bottom: 8px;
}

.hero-banner__wrapper::after {
	content: '';
	height: 8px;
	width: 100%;
	background-color: var(--light-green);
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.hero-banner__title {
	position: absolute;
	width: max-content;
	display: flex;
	align-items: center;
	bottom: 0;
	left: 1em;
	z-index: 1;
	color: var(--white);
	gap: 1em;
	font-weight: bolder;

	@media (--s) {
		left: 60px;
		bottom: 20px;
	}

	& h1 {
		margin-bottom: 0;
	}
}

.hero-banner__button {
	& svg {
		width: 40px;

		@media (--s) {
			width: 84px;
		}
	}
}
