.hero-banner {
	background: #1f222d;
	width: 100%;
	padding: 40px;

	& > .wp-block-group__inner-container {
		padding: 0;
	}
}

.hero-banner__cover {
	@mixin ratio 0.5;
	max-height: 70vh;
}

.hero-banner__wrapper {
	position: relative;
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

.hero-banner__title {
	position: absolute;
	width: max-content;
	display: flex;
	align-items: center;
	bottom: 0;
	left: 1em;
	z-index: 1;
	color: var(--white);
	gap: 1em;

	@media (--s) {
		left: 50px;
		bottom: 50px;
	}

	& h1 {
		margin-bottom: 0;
		font-size: 30px;

		@media (--s) {
			font-size: 42px;
		}
	}
}

.hero-banner__button {
	& svg {
		width: 40px;

		@media (--s) {
			width: 84px;
		}
	}
}
