ul.menu {
	display: flex;
	gap: 40px;

	& a {
		font-family: Karantina, display;
		font-size: 1.125rem;
		line-height: 1rem !important;
		font-weight: 700;
		padding: 0 !important;
		text-decoration: none;
		text-transform: uppercase;
		color: var(--white) !important;

		&:hover {
			color: var(--primary) !important;
		}
	}

	& li {
		&.current-menu-item a {
			color: var(--primary) !important;
		}
	}
}

header {
	& ul.menu > li {
		&:last-child {
			&.current-menu-item a {
				color: var(--primary) !important;
				background: transparent !important;
				border: 2px solid var(--primary);

				&:hover {
					background: var(--primary) !important;
					color: var(--white) !important;
				}
			}
		}

		&:last-child a {
			display: flex;
			align-items: center;
			padding: 0.5em 2em !important;
			background: var(--primary);
			border-radius: 0 20px;
			transition: all 0.3s ease-out;
			color: var(--white);
			background: var(--primary);
			background-size: 215% 100% !important;
			background-position: right bottom !important;

			&:hover {
				background: var(--white);
			}
		}
	}
}
