.other-project {
	display: flex;
	background-color: #0f0f0f;

	& .other-project__container {
		padding: 3em 0;
		width: min(100% - 70px, 1240px);
		margin: 0 auto;
	}

	& .other-project__list {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		gap: 20px;

		@media (--m) {
			gap: 40px;
		}
	}

	& .project-card {
		width: 100%;
		overflow: hidden;

		@media (--s) {
			width: calc((100% - 40px) / 2);
		}

		& .image::before {
			padding-top: calc(100% / 3);
		}

		& .project-card__title {
			@media (--m) {
				font-size: 35px;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.other-project__title {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: var(--white);
	margin-bottom: 1em;
	text-transform: uppercase;

	@media (--m) {
		font-size: 64px;
	}
}

.other-project__button {
	display: flex;
	justify-content: center;
	margin-top: 2em;
	text-transform: uppercase;

	& button {
		font-family: var(--font-family-bold);
	}
}
