.other-project {
	display: flex;
	background-color: #222635;

	& .other-project__container {
		padding: 3em 0;
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
	}

	& .other-project__list {
		display: flex;
		width: 100%;
	}

	& .project-card {
		margin-right: 40px;
		width: calc((100% - 40px * 2) / 3);

		&:last-child {
			margin-right: 0;
		}
	}
}

.other-project__title {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	color: var(--primary);
	margin-bottom: 1em;
}

.other-project__button {
	display: flex;
	justify-content: center;
	margin-top: 2em;
}
