.project-column {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;

	@media (--xs) {
		width: calc(100% / 2);
		gap: 1em;
	}

	/* @media (--s) {
		width: calc(100% / 3);

		&:last-child {
			display: flex;
		}
	} */
}
