.project-tabs {
	padding: 60px 0 100px;
	& .section__container {
		width: min(100% - 30px, 1200px);
		margin: 0 auto;
	}

	& .section__title {
		text-align: center;
		margin-bottom: 20px;
	}
}

.project-tabs__button {
	margin-top: 1em;
}

.section__footer {
	& .section__inner-container {
		display: flex;
		justify-content: center;
	}
}
.project-tabs__link,
.project-tabs__item--button {
	margin: 2em auto;
	display: flex;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	font-size: 16px;
	line-height: 23px;
	text-decoration: none;
	padding: 10px 25px;
	background: rgba(252, 189, 26, 0.4);
	border: 1px solid #fdc020;
	border-radius: 2px;
	transition: all 0.5s;

	&:hover {
		background: var(--primary);
		color: var(--black);
	}
}