.project-info {
	display: flex;
	max-width: 1440px;
	width: 1200px;
	margin: 0 auto;
	flex-direction: 
}

.project-info__media {
	width: 100%;
}

.project-info__description {
	width: 45%;
	display: flex;
	color: white;
}

.project-info__description--inner {
	margin: auto 5em;
	position: relative;
}

.project-info__sub--title,
.project-info__title {
	font-size: 6rem;
	font-weight: bold;
	text-transform: uppercase;
}

.project-info__sub--title {
	-webkit-text-stroke: 1px var(--primary);
	color: transparent;
}

.project-info__title {
	position: absolute;
	top: 30px;
	left: 45px;
}

.project-info__tag {
	margin-top: 3em;
	margin-left: 90px;
	position: relative;
	font-size: 1.25rem;
	text-transform: uppercase;
	display: flex;

	&::before {
		content: '';
		position: absolute;
		top: 6px;
		left: -90px;
		width: 80px;
		height: 2px;
		background-color: #0dca5c;
	}
}

.project-info__excerpt {
	font-size: 1rem;
}
