.project-card {
	padding: 0 1em 1em 0;
	position: relative;
}

.image--large {
	@mixin ratio 447/372;
}

.project-card__link {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: block;

	&::before {
		content: '';
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.5858 3.41422L3.41421 31.5858C2.15428 32.8457 -3.5581e-06 31.9534 -3.40803e-06 30.1716L-1.03532e-06 2C-9.42293e-07 0.895428 0.895431 -3.09477e-06 2 -2.99454e-06L30.1716 -4.38149e-07C31.9534 -2.76461e-07 32.8457 2.15429 31.5858 3.41422Z' fill='%234EA773'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		z-index: 2;
		background-size: contain;
	}

	&::after {
		content: '';
		width: 60px;
		height: 60px;
		display: block;
		position: absolute;
		left: -32px;
		top: -32px;
		background-color: var(--header);
		z-index: 1;
		transform: rotate(45deg);
	}
}

.project-card__decor {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-bottom: 2px solid var(--green);
	border-right: 2px solid var(--green);

	&::before {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: var(--green);
		top: 0;
		right: 0;
		transform: translateX(calc(50% + 1px));
	}

	&::after {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: var(--green);
		bottom: 0;
		left: 0;
		transform: translateY(calc(50% + 1px));
	}
}
