.project-content {
	display: flex;
	width: min(100% - 70px, 1240px);
	margin: 2em auto 4em;
	gap: 1em;
	flex-wrap: wrap;

	& img {
		width: 100%;
	}

	& .project-content__image {
		width: calc(100% / 4);

		&.image-full {
			width: 100%;
			padding: 0 6em;

			&:last-child {
				margin-bottom: 4em;
			}
		}
	}

	& .image--default {
		width: 100%;
	}
}

.fancybox__container {
	z-index: 99999 !important;
}
