.project-card {
	position: relative;

	&:hover {
		& .project-card__overlay {
			opacity: 1;
		}
	}
}

.project-card:hover img {
	scale: 1.2;
}

.image--large {
	@mixin ratio 1/2;
}

.project-card__link {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: block;
}

.project-card__info {
	padding: 1em;
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.project-card__info--left {
	width: 60px;
}
.project-card__info--right {
	width: calc(100% - 60px);
	color: white;
	padding-left: 1em;
}

.project-card .image {
	overflow: hidden;
	@mixin ratio 1/2;
}

.project-card .image img {
	transition: scale 0.5s ease;
}

.project-card__title {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--green-bright);
}

.project-card__name {
	font-size: 1rem;
}

@media (--s) {
	.project-card__title {
		font-size: 24px;
	}
}
