.section-service-desc {
	background-color: var(--secondary);
	display: flex;
	justify-content: center;
	padding: 20px 15px;
	text-align: center;
	font-weight: normal;
	color: var(--white);

	@media (min-width: 768px) {
		font-size: 20px;
		padding: 24px 24px;
	}

	@media (min-width: 960px) {
		font-size: 24px;
		padding: 30px 40px;
	}

	@media (min-width: 1280px) {
		font-size: 26px;
		padding: 60px 40px;
	}
}

.section-service-desc span {
	max-width: 900px;
}
