#generate-slideout-menu {
	width: 100% !important;
	background-color: var(--black);
	padding: 1em;

	& .inside-navigation {
		display: flex;
		flex-wrap: wrap;

		& > * {
			width: 100%;
		}
	}

	& .slideout-navigation__logo,
	& .slideout-exit {
		width: 50%;
	}

	& .slideout-navigation__logo {
		order: 1;

		& img {
			max-width: 100%;
		}
	}

	& .slideout-exit {
		order: 2;
		text-align: right;
	}

	& .main-nav {
		order: 3;
		margin: 50px auto 20px;

		& li {
			text-align: center !important;
		}

		& a {
			text-transform: uppercase;
			font-size: 18px;
		}
	}

	& .slideout-navigation__social-links {
		order: 4;
	}

	& [aria-current='page'] {
		color: var(--primary-light);
	}
}
