.kesbie-tabs__nav-items {
    display: flex;
    
}

.kesbie-tabs__nav-item {
    list-style: none;
    cursor: pointer;
}

.kesbie-tabs__tab-contents {
    position: relative;
    transition: height 0.3s;
}

.kesbie-tabs__tab-content {
    @mixin abs-full;

    margin: 0;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 0;
    pointer-events: none;

    &.is-active {
        opacity: 1;
        z-index: 2;
        pointer-events: visible;
    }
}