.kesbie-tabs__nav-items {
	display: flex;
	width: 100%;
	grid-gap: 15px;
	gap: 15px;
	overflow-x: auto;
	white-space: nowrap;
	margin-left: 0;
	padding-left: 0;

	@media (--s) {
		justify-content: center;
		gap: 1em;
	}
}

.kesbie-tabs__nav-item {
	width: calc(100% / 4 - 7px);
	min-width: 138px;
	list-style: none;
	cursor: pointer;
	padding: 10px 12px;
	font-size: 17px;
	line-height: 1;
	text-transform: capitalize;
	border: 1px solid transparent;
	transition: 0.3s;
	color: var(--white);
	background: var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 24px;
	font-weight: bolder;
	text-transform: uppercase;

	&:hover {
		filter: brightness(0.6);
	}

	&.is-active {
		background: var(--white);
		color: var(--primary);
	}

	&.is-active:hover {
		filter: brightness(1);
	}
}

.kesbie-tabs__tab-contents {
	position: relative;
	transition: height 0.3s;
}

.kesbie-tabs__tab-content {
	@mixin abs-full;

	margin: 0;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 0;
	pointer-events: none;

	&.is-active {
		opacity: 1;
		z-index: 2;
		pointer-events: visible;
	}
}

@media (min-width: 768px) {
	.kesbie-tabs__nav-items {
		grid-gap: 30px;
		gap: 30px;
	}

	.kesbie-tabs__nav-item {
		width: calc(100% / 4 - 15px);
		font-size: 20px;
		padding: 20px 18px;
	}
}
