.kesbie-tabs {
	display: flex;
	flex-direction: column;

	& > * {
		width: 100%;
	}
}

.kesbie-tabs__nav-items {
	display: flex;
	width: 100%;
	grid-gap: 15px;
	gap: 15px;
	overflow-x: auto;
	white-space: nowrap;
	padding-left: 0;
	margin: 0 auto 1.75em;

	@media (--s) {
		justify-content: center;
		gap: 50px;
		width: 80%;
	}
}

.kesbie-tabs__nav-item {
	width: calc(100% / 4);
	height: 44px;
	min-width: 138px;
	list-style: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	font-family: Karantina;
	text-transform: capitalize;
	border: 1px solid transparent;
	transition: 0.3s;
	color: var(--white);
	background: var(--primary);
	border-radius: 15px;
	font-weight: bolder;
	text-transform: uppercase;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */

	&:hover {
		filter: brightness(0.6);
	}

	&.is-active {
		background: var(--white);
		color: var(--primary);
	}

	&.is-active:hover {
		filter: brightness(1);
	}
}

.kesbie-tabs__tab-contents {
	position: relative;
	transition: height 0.3s;
}

.kesbie-tabs__tab-content {
	@mixin abs-full;

	margin: 0;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 0;
	pointer-events: none;

	&.is-active {
		opacity: 1;
		z-index: 2;
		pointer-events: visible;
	}
}

@media (min-width: 768px) {
}
