.two-up-intro {
	& .decor-1,
	& .decor-2 {
		height: auto !important;
		margin-left: -40px;
		margin-right: -40px;
	}

	& .decor-1 {
		margin-top: -40px;
		background-color: var(--header);
		margin-bottom: 50px;

		&::before {
			content: '';
			height: 0px;
			width: 15%;
			display: block;
			border-bottom: 100px solid var(--primary);
			border-left: 0 solid var(--primary);
			border-right: 60px solid transparent;
			border-top: 0 solid transparent;
		}
	}

	& .decor-2 {
		margin-top: 50px;
		margin-bottom: -40px;
		background-color: var(--primary);

		&::before {
			content: '';
			height: 0px;
			width: 94%;
			display: block;
			border-bottom: 70px solid var(--header);
			border-left: 0 solid var(--header);
			border-right: 45px solid transparent;
			border-top: 0 solid transparent;
		}
	}

	& .grid-container {
		@media (--ml) {
			gap: 120px;
		}
	}
}

.two-up-intro__image {
	position: relative;
	overflow: hidden;

	&.vat-bottom {
		&::before {
			content: '';
			width: 100px;
			height: 100px;
			background-color: var(--header);
			display: block;
			position: absolute;
			bottom: -50px;
			transform: rotate(45deg);
			left: -50px;
		}
	}

	&.vat-top {
		&::before {
			content: '';
			width: 100px;
			height: 100px;
			background-color: var(--primary);
			display: block;
			position: absolute;
			top: -50px;
			transform: rotate(45deg);
			right: -50px;
		}
	}

	& img {
		height: 250px;
		object-fit: cover;
	}
}
