.btn {
	transition: all 0.3s ease-out;
	color: var(--white);
	background: var(--primary);
	padding: 8px 25px;
	background-size: 215% 100% !important;
	background-position: right bottom !important;
	border-radius: 0 20px 0 20px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

input.gform_button {
	transition: all 0.3s ease-out;
	color: var(--white);
	background: var(--primary);
	padding: 6px 22px;
	border-radius: 0 20px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

#menu-main-menu,
#menu-footer {
	display: flex;
	gap: 40px;

	& > li {
		& a {
			line-height: 32px;
			padding-right: 0;
			padding-left: 0;
			color: var(--white);
		}
	}
}
#menu-main-menu > li {
	&.current-menu-item {
		&:last-child {
			&:hover {
				& a {
					background-color: var(--primary) !important;
				}
			}
	
			& a {
				background-color: var(--white) !important;
			}
		}

	}

	&:last-child a {
		transition: all 0.3s ease-out;
		color: var(--white);
		background: var(--primary);
		padding: 8px 40px;
		background-size: 215% 100% !important;
		background-position: right bottom !important;
		border-radius: 0 20px 0 20px;
		text-decoration: none;
		font-weight: bolder;
		text-transform: uppercase;

		&:hover {
			background: var(--white);
			color: var(--primary);
		}
	}
}

.btn,
input.gform_button {
	&:hover {
		background: var(--white);
		color: var(--primary);
	}
}

@media (min-width: 768px) {
	.btn,
	.gform_button {
		padding: 8px 40px;
		border-radius: 0 20px 0 20px;
	}
}
