.btn {
	transition: all 0.3s ease-out;
	color: var(--white);
	background: var(--primary);
	padding: 8px 25px;
	background-size: 215% 100% !important;
	background-position: right bottom !important;
	border-radius: 0 20px 0 20px;
	text-decoration: none;
	font-weight: bolder;
	text-transform: uppercase;
}

.btn:hover {
	background: var(--white);
	color: var(--primary);
}

@media (min-width: 768px) {
	.btn {
		padding: 8px 40px;
		border-radius: 0 20px 0 20px;
	}
}
