body {
	font-family: var(--font-family-bold);
}

.font-f-bold {
	font-family: var(--font-family-bold);
}

.font-f-regular {
	font-family: var(--font-family-regular);
}

.gap-md-100 {
	@media (--ml) {
		gap: 100px;
	}
}
