.hero-banner-slider {
	position: relative;
	& .swiper-button-prev,
	& .swiper-button-next {
		width: 84px;
		height: 84px;

		&::after {
			content: none !important;
		}
	}

	& .swiper-button-next {
		right: 80px;
		display: none;
	}

	& .swiper-button-prev {
		left: 80px;
		display: none;
	}

	& .swiper-pagination-bullet {
		background: var(--primary);
		border-radius: 0;
	}

	@media (--sm) {
		& .swiper-button-next,
		& .swiper-button-prev {
			display: flex;
		}

		& .swiper-pagination-bullet {
			display: none;
		}
	}
}
