.hero-banner-slider {
	position: relative;
	& .swiper-button-prev,
	& .swiper-button-next {
		width: 84px;
		height: 84px;

		&::after {
			content: none !important;
		}
	}

	& .swiper-button-next {
		right: 80px;
	}

	& .swiper-button-prev {
		left: 80px;
	}
}
