.hero-banner-slider {
	position: relative;
	& .swiper-button-prev__wrapper,
	& .swiper-button-next__wrapper {
		position: absolute;
		width: 84px;
		height: 100%;
		top: 0;

		&::after {
			content: none !important;
		}
	}

	.swiper-button-next {
		right: 25px;
	}

	.swiper-button-prev {
		left: 25px;
	}

	& .swiper-button-prev,
	& .swiper-button-next {
		width: 42px;
		height: 65px;
		opacity: 0;
		transition: all 0.5s;

		&::after {
			content: none !important;
		}
	}

	& .swiper-button-next__wrapper {
		right: 0;
		padding-right: 30px;
		display: none;
	}

	& .swiper-button-prev__wrapper {
		left: 0;
		padding-left: 30px;
		display: none;
	}

	& .swiper-pagination-bullet {
		background: var(--primary);
		border-radius: 0;
	}

	@media (--sm) {
		& .swiper-button-next__wrapper,
		& .swiper-button-prev__wrapper {
			display: flex;
			align-items: center;
			z-index: 10;
		}

		.swiper-button-next__wrapper:hover .swiper-button-next,
		.swiper-button-prev__wrapper:hover .swiper-button-prev {
			opacity: 1;
		}

		& .swiper-button-next.swiper-button-disabled,
		& .swiper-button-prev.swiper-button-disabled {
			opacity: 0 !important;
		}

		&
			.swiper-button-next__wrapper:hover
			.swiper-button-next.swiper-button-disabled,
		&
			.swiper-button-prev__wrapper:hover
			.swiper-button-prev.swiper-button-disabled {
			opacity: 0.35 !important;
		}

		& .swiper-pagination-bullet {
			display: none;
		}
	}
}
